<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Our Team</title>
        <link type="text/css" href="../static/styles/cssandjs/styles.css" rel="stylesheet">
        <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
        <link th:href="@{/styles/cssandjs/team.css}" rel="stylesheet" />
        <link th:href="@{/styles/cssandjs/link.css}" rel="stylesheet" />
    </head>
    <body>
    <div class="container">
        <div class="main-text">Our Team: "Ubaltoni 2/3"</div>
        <div><a href="/bogdan">Member Bogdan</a></div>
        <div><a href="/vladyslav">Member Vladislav</a></div>
    </div>
    </body>
</html>